.staemLightBlue {
    color: #214b6b !important;
}

.staemMediumBlue {
    background-color: #1b2837 !important;
}

.no-borders {
    border-width: 0px !important;
}

.no-background {
    background-color: transparent !important;
}
.text-white {
    color: #fff !important;
}
